---
- name: Sanghaplanner Provisioning
  hosts: all
  become: yes

  tasks:
  - name: add php repository
    apt_repository: repo='ppa:ondrej/php'

  - name: update packages
    apt: update_cache=yes

  - name: install packages
    apt: name={{ item }} state=latest
    with_items:
      - vim
      - git
      - mysql-server
      - python-mysqldb
      - php5.6
      - php5.6-fpm
      - php5.6-mbstring
      - php5.6-dom
      - php5.6-mcrypt
      - php5.6-mysql
      - nginx
      - nodejs-legacy
      - npm

  - name: unlink default nginx configuration
    file: path=/etc/nginx/sites-enabled/default state=absent

  - name: delete default nginx configuration
    file: path=/etc/nginx/sites-available/default state=absent

  - name: copy nginx sanghaplanner configuration
    template: src=templates/nginx.cfg.j2 dest=/etc/nginx/sites-available/sanghaplanner

  - name: enable nginx sanghaplanner configuration
    file: src=/etc/nginx/sites-available/sanghaplanner dest=/etc/nginx/sites-enabled/sanghaplanner state=link

  - name: create database
    mysql_db: name=sanghaplanner state=present

  - name: create database user
    mysql_user: name=vagrant password=vagrant host=% priv=*.*:ALL state=present

  - name: allow remote mysql connections
    lineinfile: dest=/etc/mysql/my.cnf regexp='bind-address\s*=\s*127\.0\.0\.1\s*' line='bind-address = 0.0.0.0' state=present

  # Credits to: geerlingguy/ansible-role-composer
  - name: download composer
    get_url:
      url: https://getcomposer.org/installer
      dest: /tmp/composer-installer.php
      mode: 0755

  - name: install composer
    command: php composer-installer.php chdir=/tmp

  - name: Move Composer into globally-accessible location.
    shell: mv /tmp/composer.phar /usr/local/bin/composer

  - name: composer install
    command: composer install chdir=/vagrant

  - name: run database migrations
    shell: php artisan migrate chdir=/vagrant

  - name: npm prune
    command: npm prune chdir=/vagrant

  - name: disable npm progress bar
    command: npm set progress=false

  - name: npm install
    command: npm install chdir=/vagrant
