.notification {
    background-color: #fff;
    margin-bottom: 3em;
    padding-left: 1em;
}

.timestamp {
	color: #999;
}

.notification-body {
	font-weight: bold;
}

.notification-footer {
	font-weight: bold;
	font-size: 14pt;
	text-align: center;
	padding-top: 10px;
}

.membership-request {
	padding-top: 30px;
}